@font-face {
  font-family: SocialIco;
  src: url("../fonts/Socialico.ttf");
}
.clear {
  content: "";
  clear: both;
  display: block;
}

.wrapper {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #445161;
}

.title {
  font-size: 30px;
  color: #445161;
  text-align: center;
}

.header, .about, .features, .scrinshots, .reviews, .buy {
  padding: 50px;
}

.header {
  background-color: #445161;
}
.header .header__title {
  color: #fff;
  font-size: 60px;
  margin: 0px;
  float: left;
}
.header .header__items {
  float: left;
  padding: 0;
}
.header .header__items li {
  font-size: 20px;
  list-style: inside url(images/checkicon.png);
  color: #fff;
}
.header .header__image {
  width: 469px;
  height: 214px;
  background-color: #fff;
  float: right;
}

.about {
  background-color: #fff;
}
.about .title_left {
  color: #445161;
  float: left;
  font-size: 30px;
}
.about .about__text {
  font-size: 16px;
  float: left;
  max-width: 600px;
}
.about .about__image {
  width: 430px;
  height: 245px;
  float: right;
  background-color: #445161;
}

.features {
  background-color: #f5f5f5;
}
.features .features__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.features .features__item {
  width: 40%;
  background: url(images/plusicon.gif) no-repeat left 18px;
  padding-left: 40px;
}

.scrinshots {
  background-color: #fff;
}
.scrinshots .scrinshots__item {
  float: left;
  width: 49%;
  height: 150px;
  padding: 5px;
  margin-bottom: 10px;
}
.scrinshots .scrinshots__item h3 {
  color: #445161;
  font-size: 20px;
  margin: 0;
  padding-bottom: 2px;
}
.scrinshots .scrinshots__item .scrinshot__img {
  width: 200px;
  height: 150px;
  background-color: #445161;
  float: left;
  margin-right: 5px;
}
.scrinshots .scrinshots__item .scrinshot__desc {
  margin: 0;
}

.reviews {
  background-color: #f5f5f5;
}
.reviews .reviews_left, .reviews .reviews_right {
  width: 48%;
}
.reviews .reviews_left {
  float: left;
}
.reviews .reviews_right {
  margin-left: 10px;
  float: right;
}
.reviews .review:nth-child(2) {
  margin-top: 24px;
}
.reviews .reviews__img {
  width: 75px;
  height: 75px;
  background: url(images/userpic.png);
  float: left;
  margin-top: 18px;
}
.reviews .reviews__box {
  background-color: #ebebeb;
  width: 390px;
  height: 120px;
  margin-left: 100px;
  padding: 0px 20px;
}
.reviews .reviews__box .reviews__arrow {
  background-color: #ebebeb;
  width: 25px;
  height: 25px;
  position: relative;
  left: -30px;
  top: 40px;
  transform: rotate(45deg);
}
.reviews .reviews__box .reviews__text, .reviews .reviews__box .reviews__signature {
  font-size: 14px;
}
.reviews .reviews__box .reviews__signature {
  color: #989898;
  margin-top: 10px;
}

.buy .offers {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-top: 40px;
}
.buy .offer {
  background-color: #445161;
  width: 300px;
  padding-bottom: 30px;
  border-radius: 5px;
}
.buy .offer h3 {
  font-size: 24px;
  text-align: center;
  color: #fff;
  line-height: 50px;
  margin: 0;
}
.buy .offer .price {
  background-color: #fff;
  color: #445161;
  font-size: 40px;
  text-align: center;
  line-height: 70px;
  width: 294px;
  height: 70px;
  margin: 0 3px;
}
.buy .offer .list {
  color: #fff;
  padding-left: 20px;
  font-size: 14px;
  margin: 20px 20px;
}
.buy .offer .button {
  width: 270px;
  height: 40px;
  background-color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
}

.contacts {
  background-color: #445161;
}
.contacts h2 {
  color: #fff;
}
.contacts form {
  width: 500px;
  margin-left: 220px;
}
.contacts form input[type=text],
.contacts form textarea {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-bottom: 21px;
  padding: 7px 5px;
  box-sizing: border-box;
  color: #445161;
  font-size: 16px;
  line-height: 24px;
  outline: none;
}
.contacts form textarea {
  font-family: inherit;
  min-height: 170px;
}
.contacts form input[type=submit] {
  border-radius: 5px;
  background-color: #f5f5f5;
  width: 140px;
  height: 40px;
  text-align: center;
  color: #445161;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
}

/*# sourceMappingURL=style.css.map */
