@import 'variables';

.container {
    max-width: 1280px;
}

.backgroundDark {
    background-color: $firstColor;
    padding: 50px;
}

.backgroundLite {
    background-color: $secondColor;
    padding: 50px;
}

.backgroundWhite {
    background-color: #fff;
    padding: 50px;
}

@media screen and (max-width: 993px) {

    .backgroundDark,
    .backgroundLite,
    .backgroundWhite {
        padding: 50px 20px;
    }
}

.title {
    font-size: 30px;
    color: $firstColor;
    text-align: center;
    margin-bottom: 30px;
}

p {
    color: $firstColor;
}

header {

    h1 {
        font-size: 60px;
        margin-bottom: 50px;
        font-weight: 400;
        color: #fff;
    }

    li {
        font-size: 20px;
        color: #fff;
    }

    ul {
        list-style-image: url(images/checkicon.png);
        padding-left: 35px;
    }

    .headerImg {
        width: 470px;
        height: 215px;
        background-color: #fff;
        position: relative;
        top: 15px;
        float: right;
    }

    @media screen and (max-width: 1199px) {
        .headerImg {
            width: 470px - 47px;
            height: 215px - 21.5px;
        }

        h1 {
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 991px) {
        .headerImg {
            float: none;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 470px) {
        .headerImg {
            width: 100%;
            height: 200px;
        }
    }
}

.about {

    h2 {
        text-align: left;
    }

    .aboutImg {
        width: 430px;
        height: 245px;
        background-color: $firstColor;
        float: right;
    }

    @media screen and (max-width: 1199px) {
        .aboutImg {
            width: 430px - 43px;
            height: 245px - 24.5px;
        }
    }

    @media screen and (max-width: 991px) {
        .aboutImg {
            float: none;
            margin: 0 auto;
        }
    }

}

.pluses {

    .plus {
        background: url(images/plusicon.gif) no-repeat;
        background-position: 0 5px;
        padding-left: 40px;
        padding-right: 15px;
    }
}

.scrinshots {

    .scrinshotsItem {
        margin-bottom: 30px;
        padding-right: 10px;
    }

    .scrinshotsItem:after {
        content: '';
        clear: both;
        display: block;

    }

    .scrin {
        width: 200px;
        height: 150px;
        background-color: $firstColor;
        float: left;
        margin-right: 15px;
        margin-top: 5px;
    }

    h3 {
        font-size: 20px;
        color: $firstColor;
        line-height: 24px;
    }

    p {
        font-size: 14px;
    }

    @media screen and (max-width: 1150px){
    	p {
    		font-size: 12px;
    	}
    }
}

.reviews {

    .reviewUnit {
        margin-bottom: 25px;
    }

    .reviewImg {
        width: 75px;
        height: 75px;
        // background: url(images/userpic.png);
        float: left;
        background-color: $firstColor;
        border-radius: 45px;
        margin-top: 25px;

    }

    .arrow {
        width: 25px;
        height: 25px;
        background-color: $thirdColor;
        transform: rotate(45deg);
        position: relative;
        left: 85px;
        top: 50px;
    }

    .reviewText {
        width: 80%;
        background-color: $thirdColor;
        font-size: 14px;
        padding: 5px 20px;
        margin-left: 95px;
        border-radius: 5px;
        font-style: italic;

        .black {
            color: #333;
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 0;
        }

        .signature {
            color: #989898;
        }
    }
}

.buy {

	.offer {
		display: flex;
		align-items: flex-end;
		justify-content: space-evenly;
	}

	.buyUnit {
		width: 30%;
		max-width: 300px;
		background-color: $firstColor;
		border-radius: 5px;
		padding-bottom: 20px;

		h3 {
			color: #fff;
			font-size: 24px;
			text-align: center;
			padding: 15px 0;
			line-height: 24px;
		}

		.price {
			background-color: #fff;
			width: 98%;
			max-width: 296px;
			margin: 0 auto;
			font-size: 40px;
			color: $firstColor;
			text-align: center;
			margin-bottom: 15px;
		}

		.list {
			padding: 0 20px;
			color: #fff;
			font-size: 14px;
			margin-bottom: 15px;
		}

		.button {
			width: 98%;
			height: 40px;
			background-color: #fff;
			border-radius: 5px;
			text-transform: capitalize;
			font-weight: 700;
			font-size: 24px;
			margin: 0 auto;
			color: $firstColor;
			text-align: center;
			line-height: 40px;
			text-decoration: none;
			display: block;
		}	
	}

	@media screen and (max-width: 769px){
		.offer {
			display: block;	
		}

		.buyUnit {
			margin: 0 auto;
			margin-bottom: 30px;
			width: 80%;
		}
	}
}

.contacts {

	form {
		width: 75%;
		margin-left: 20%;
	}

	h2 {
		color: #fff;
	}

	input {
		border-radius: 5px;
		border: none;
		width: 100%;
		padding: 5px;
		margin-bottom: 20px;
		color: $firstColor;
		outline: none;
	}

	textarea {
		width: 100%;
		height: 170px;
		color: $firstColor;
		padding: 5px;
		outline: none;
	}

	input[type="submit"] {
		width: 140px;
		height: 40px;
		background-color:#fff;
		color: $firstColor;
		text-transform: capitalize;
		font-weight: 700;
		font-size: 16px;
		text-align: center;
		border-radius: 5px;
		margin: 0 auto;
		display: block;
		cursor: pointer;
	}

	.skype,
	.icq,
	.email,
	.phone {
		color: #fff;
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 30px;
		height: 26px;
		padding-left: 35px;
	}

	.skype {
		background: url(images/skypeicon.png) no-repeat;
	}

	.icq {
		background: url(images/icqicon.png) no-repeat;
	}

	.email {
		background: url(images/emailicon.png) no-repeat;
	}

	.phone {
		background: url(images/phoneicon.png) no-repeat;
		margin-bottom: 0;
	}

	.social {
		font-family: socialico;
		font-size: 300%;

		a {
			text-decoration: none;
			color: #fff;
		}
	}

	@media screen and (max-width: 576px){
		.skype,
		.icq,
		.email,
		.phone {
			font-size: 12px;
			margin-bottom: 10px;
			margin-top: 15px;

		}

		.social {
			text-align: center;
		}

		form {
			width: 100%;
			margin: 0 auto;
		}
	}
}

.copy {
	padding: 0;
	color: $firstColor;
	text-align: center;
	font-size: 12px;
}