@import "variables";

.clear {
	content: "";
	clear: both;
	display: block;
}

.wrapper {
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
	font-family: $font;
	color: $primaryColor;
}

.title {
	font-size: 30px;
	color: $primaryColor;
	text-align: center;
}

.header, .about, .features, .scrinshots, .reviews, .buy {
	padding: 50px;
}

.header {
	background-color: $primaryColor;

	.header__title {
		color: #fff;
		font-size: 60px;
		margin: 0px;
		float: left;
	}

	.header__items {
		float: left;
		padding: 0;

		li {
			font-size: 20px;
			list-style: inside url(images/checkicon.png);
			color: #fff;
		}
	}

	.header__image {
		width: 469px;
		height: 214px;
		background-color: #fff;
		float: right;
	}
}

.about {
	background-color: #fff;

	.title_left {
		color: $primaryColor;
		float: left;
		font-size: 30px;
	}

	.about__text {
		font-size: 16px;
		float: left;
		max-width: 600px;
	}

	.about__image {
		width: 430px;
		height: 245px;
		float: right;
		background-color: $primaryColor;
	}
}

.features {
	background-color: $secondaryColor;

	.features__items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.features__item {
		width: 40%;
		background: url(images/plusicon.gif) no-repeat left 18px;
		padding-left: 40px;
	}
}

.scrinshots {
	background-color: #fff;
	

	.scrinshots__item {
		float: left;
		width: 49%;
		height: 150px;
		padding: 5px;
		margin-bottom: 10px;

		h3 {
		color: $primaryColor;
		font-size: 20px;
		margin: 0;
		padding-bottom: 2px;
		}

		.scrinshot__img {
			width: 200px;
			height: 150px;
			background-color: $primaryColor;
			float: left;
			margin-right: 5px;
		}

		.scrinshot__desc {
			margin: 0;
		}
	}
}

.reviews {
	background-color: $secondaryColor;

	.reviews_left, .reviews_right {
		width: 48%;
	}

	.reviews_left {
		float: left;	
	}

	.reviews_right {
		margin-left: 10px;
		float: right;
	}

	.review:nth-child(2) {
		margin-top: 24px;
	}

	.reviews__img {
		width: 75px;
		height: 75px;
		background: url(images/userpic.png);
		float: left;
		margin-top: 18px;
	}

	.reviews__box {
		background-color: #ebebeb;
		width: 390px;
		height: 120px;
		margin-left: 100px;
		padding: 0px 20px;

		.reviews__arrow {
			background-color: #ebebeb;
			width: 25px;
			height: 25px;
			position: relative;
			left: -30px;
			top: 40px;
			transform: rotate(45deg);
		}

		.reviews__text, .reviews__signature {
			font-size: 14px;
		}

		.reviews__signature {
			color: #989898;
			margin-top: 10px;
		}
	}
}

.buy {

	.offers{
		display: flex;
		justify-content: space-evenly;
		align-items: flex-end;
		margin-top: 40px;
	}

	.offer {
		background-color: $primaryColor;
		width: 300px;
		padding-bottom: 30px;
		border-radius: 5px;

		h3 {
			font-size: 24px;
			text-align: center;
			color: #fff;
			line-height: 50px;
			margin: 0;
		}

		.price {
			background-color: #fff;
			color: $primaryColor;
			font-size: 40px;
			text-align: center;
			line-height: 70px;
			width: 294px;
			height: 70px;
			margin: 0 3px;
		}

		.list {
			color: #fff;
			padding-left: 20px ;
			font-size: 14px;
			margin: 20px 20px;
		}

		.button {
			width: 270px;
			height: 40px;
			background-color: #fff;
			text-transform: capitalize;
			font-size: 18px;
			line-height: 40px;
			text-align: center;
			margin: 0 auto;
			border-radius: 5px;
		}
	}
}

.contacts {
	background-color: $primaryColor;

	h2 {
		color: #fff;
	}

	form {

		width: 500px;
		margin-left: 220px;

	      input[type="text"],
	      textarea {
	        display: block;
	        width: 100%;
	        border-radius: 5px;
	        border: none;
	        margin-bottom: 21px;
	        padding: 7px 5px;
	        box-sizing: border-box;
	        color: $primaryColor;
	        font-size: 16px;
	        line-height: 24px;
	        outline: none;
	      }

	      textarea {
	        font-family: inherit;
	        min-height: 170px;
	      }

	      input[type="submit"] {
	        border-radius: 5px;
	        background-color: $secondaryColor;
	        width: 140px;
	        height: 40px;
	        text-align: center;
	        color: $primaryColor;
	        font-size: 16px;
	        font-weight: 700;
	        line-height: 24px;
	        border: none;
	        display: block;
	        margin: 0 auto;
	        cursor: pointer;
	        outline: none;
	      }
    }

}